<!-- Describe task in general -->

<p>
    你有一个非负的整数。试着找出它有多少个数字。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个非负的{% if is_js %}整数<span>(number)</span>{% else %} 整数<span>(int)</span>{% endif %} 。
</p>

<p>
   <strong>输出：</strong>一个{% if is_js %}整数<span>(number)</span>{% else %} 整数<span>(int)</span>{% endif %} 。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


