<!-- Describe task in general -->

<p>
    Vous avez un<span>nombre</span> non négatif {% if is_js %} <span>(number)</span><span> </span>{% else %} <span>entier</span> <span>(integer)</span>{% endif %} . Essayez de trouver le nombre de chiffres qu'il contient.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée :</strong> Un<span>nombre</span> non négatif {% if is_js %} <span>(number)</span><span> </span>{% else %} <span>entier</span> <span>(integer)</span>{% endif %} .
</p>

<p>
   <strong>Sortie :</strong> {% if is_js %}Un <span>nombre</span> <span>(number)</span>{% else %} Un <span>entier</span> <span>(integer)</span>{% endif %} . 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples :</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


