<!-- Describe task in general -->

<p>
    You have a non-negative integer. Try to find out how many digits it has.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A non-negative {% if is_js %}integer <span translate="no">(number)</span>{% else %}integer <span translate="no">(int)</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> An {% if is_js %}integer <span translate="no">(number)</span>{% else %}integer <span translate="no">(int)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


