<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Sie haben eine nicht-negative ganze Zahl. Versuchen Sie herauszufinden, wie viele Ziffern sie hat.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}number-length.png" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine nicht-negative {% if is_js %}ganze Zahl <span>(number)</span>{% else %} ganze Zahl <span>(int)</span>{% endif %}.
</p>

<p>
   <strong>Ausgabe:</strong> Eine {% if is_js %}ganze Zahl <span>(number)</span>{% else %} ganze Zahl <span>(int)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


